* {
    margin: 0;
}

body {
    /* background-image: url(media/img/bg.avif);
    background-repeat: repeat; */
    font-family: Helvetica, sans-serif;
}

input {
    width: 200px;
    height: 25px;
    border:0;
    border-bottom: 1px solid gray;
}

/* selectors */
/* colors: 
1. named colors
2. rgb 
3. hex
*/
.form-name {
    /* color: red; */
    color: rgb(77, 73, 73);
    /* background-color: #646264; */
    background-image: url(media/img/ip13.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
    /* text-shadow: 1px 2px; */
    /* 0-255 */
    /* color: #565656; */

    border: 1px solid green;
    /* border-bottom: 1px solid green;
    border-right: 1px solid green; 
    border-top: 1px solid green;*/

    width: 100px;
    height: 100px;

    border-radius: 50px;
}

/* margin */
.heading {
    font-size: 15px;
    font-weight: lighter;
    font-style: italic;
    border: 1px solid black;
    font-variant: small-caps;
    /* margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px; */

    /* Top Right Bottom Left */
    margin: 20px 10px 20px 10px;
    padding: 10px 5px 5px 10px;
    /* padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px; */
}

.span {
    display: block;
}

.div {
    display: inline;
}

.btn {
    border: 0;
    background-color: green;
    color: white;
    padding:3px;
    margin: 5px;
    border-radius: 2px;
}